.header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 66;
  top: 0;
  background: #0a0606;
  pointer-events: auto;
  visibility: visible;
  transition: transform .5s, visibility .5s;
  @media (max-width: 1200px) {
    padding: 25px 0;
  }
  @include r($phone) {
    padding: 22px 0;
  }

  &.scroll {
    transform: translateY(-110px);
    pointer-events: none;
    visibility: hidden;
    @media (max-width: 1300px) {
      transform: none;
      pointer-events: auto;
      visibility: visible;
    }
  }

  &.static {
    position: static;
    margin-bottom: -10px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  &__inner {
    @include flex-align-center(20);
    @include r($phone) {
      gap: 16px;
    }
  }

  &__logo {
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border .4s, opacity .4s;

    &:hover {
      opacity: .6;
    }

    &:focus {
      border-color: $accent;
    }

    @media (max-width: 380px) {
      margin-right: 10px;
    }

    img {
      @include r($phone) {
        width: auto;
        height: 37px;
      }
      @media (max-width: 400px) {
        height: 34px;
      }
    }
  }

  &__nav {
    margin-left: 40px;
    @media (max-width: 1350px) {
      margin-left: 30px;
    }
    @media (max-width: 1300px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 1300px) {
        display: block;
        width: 100%;
        margin-left: 0;
      }
    }
  }

  &__list {
    @include flex-align-center(30);
    @media (max-width: 1300px) {
      gap: 36px;
      flex-direction: column;
      width: 100%;
    }

    li {
      position: relative;
      @media (max-width: 1300px) {
        width: 100%;
      }

      &:hover {
        .header__sublist {
          opacity: 1;
          visibility: visible;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__link {
    @include flex-align-center(8);
    font-size: 18px;
    padding: 0 2px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color .4s, border .4s;
    @media (max-width: 1300px) {
      max-width: max-content;
    }
    @include r($sm) {
      font-size: 16px;
    }

    &:hover {
      color: $accent;

      svg path {
        fill: $accent;
      }
    }

    &:focus {
      border-color: $accent;
    }

    &.about {
      color: $white;

      &:hover {
        color: $accent;
      }
    }
  }

  &__sublist {
    @include flex-column(5);
    align-items: flex-start;
    position: absolute;
    z-index: 5;
    min-width: 240px;
    visibility: hidden;
    padding-top: 10px;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
    @media (max-width: 1300px) {
      position: sticky;
      opacity: 1;
      visibility: visible;
    }

    li {
      width: 100%;
    }
  }

  &__sublink {
    @include flex-center;
    justify-content: flex-start;
    font-size: 15px;
    padding: 10px 8px;
    color: $white;
    width: 100%;
    background-color: #121212;
    border: 1px solid #212121;
    transition: background-color .4s, border .4s;
    @media (max-width: 1300px) {
      padding: 13px 8px;
    }
    @include r($lg) {
      padding: 15px 10px;
    }

    &:hover {
      border-color: $white;
    }
  }

  &__right {
    @include flex-align-center(16);
    margin-left: auto;
    @media (max-width: 1300px) {
      gap: 17px;
    }
    @media (max-width: 840px) {
      gap: 15px;
    }

    &.mobile {
      display: none;
      margin-left: 0;
      @media (max-width: 590px) {
        margin-top: -8px;
        margin-bottom: 15px;
        display: flex;
      }
    }
  }

  &__btn {
    @include flex-center;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: $white;
    border: 1px solid transparent;
    transition: background-color .4s, color .4s, border .4s;
    @media (max-width: 1350px) {
      width: 45px;
      height: 45px;
      svg {
        width: auto;
        height: 22px;
      }
    }

    &:hover {
      background-color: transparent;
      border-color: $white;

      svg path {
        fill: $white;
      }
    }

    &:focus {
      background-color: $accent;
      border-color: transparent;

      svg path {
        fill: $black;
      }
    }

    &.order {
      &:hover {
        color: $white;
        background-color: transparent;
        border-color: $white;

        svg path {
          fill: inherit;
          stroke: $white;
        }
      }

      &:focus {
        background-color: $accent;
        border-color: transparent;
        color: $black;

        svg path {
          fill: inherit;
          stroke: $black;
        }
      }

      svg {
        @media (max-width: 1350px) {
          width: auto;
          height: 26px;
        }
      }
    }

    &.non {
      @media (max-width: 590px) {
        display: none;
      }
    }
  }

  &__phone {
    padding: 3px;
    font-size: 18px;
    color: $white;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color .4s, border .4s;
    @media (max-width: 1300px) {
      order: -1;
    }
    @media (max-width: 920px) {
      font-size: 16px;
    }
    @include r($tablet) {
      display: none;
    }

    &:hover {
      color: $accent;
    }

    &:focus {
      color: $accent;
      border-color: $accent;
    }

    &.mobile {
      display: none;
      @include r($tablet) {
        display: flex;
        font-size: 18px;
      }
      @include r($sm) {
        font-size: 17px;
      }
      @include r($phone) {
        font-size: 18px;
      }
    }
  }

  &__mobile {
    @include flex-column(30);
    padding: 125px 16px 30px 30px;
    display: none;
    overflow-y: scroll;
    pointer-events: none;
    user-select: none;
    position: fixed;
    z-index: 65;
    top: 0;
    right: 0;
    max-width: 435px;
    width: 100%;
    background-color: #0a0606;
    transform: translateX(100%);
    height: 100vh;
    transition: transform .7s ease-in-out;
    @media (max-width: 1300px) {
      display: flex;
      align-items: flex-start;
      pointer-events: auto;
      user-select: auto;
    }
    @include r($tablet) {
      padding-top: 110px;
      max-width: 380px;
    }
    @include r($phone) {
      max-width: 100%;
      padding: 115px 15px 30px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      transform: translateX(0);
    }
  }
}