.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 520px;
  width: 96%;
  background-color: #202020;
  color: $white;
  padding: 40px 30px;
  border-radius: 20px;
  transform: translate(-50%, 0%);
  opacity: 0;
  font-size: 17px;
  z-index: 380;
  pointer-events: none;
  outline: transparent;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  @include r($tablet) {
    padding: 35px 25px;
  }
  @include r($phone) {
    padding: 35px 20px;
    font-size: 16px;
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
  }

  &--long {
    max-width: 570px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
    @include r($tablet) {
      font-size: 22px;
    }
    @include r($phone) {
      font-size: 20px;
      font-weight: 400;
    }

    &.small-bottom {
      margin-bottom: 25px;
    }
  }

  &__close {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    color: $white;
    transition: outline .4s, color .4s;
    outline: 1px solid transparent;
    border-radius: 10px;
    @include r($phone) {
      top: 8px;
      right: 8px;
    }
    @media (max-width: 375px) {
      top: 7px;
    }

    &:hover {
      color: $accent;

      &::before {
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &:focus {
      outline-color: $accent;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      width: 48%;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: currentColor;
      border-radius: 4px;
      transition: transform .4s;
      will-change: transform;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__list {
    @include flex-column(24);
    margin-bottom: 30px;

    &.short {
      margin-top: 60px;
      max-width: 660px;
    }

    li {
      @include flex-column(4);
    }
  }

  &__buttons {
    display: flex;
    gap: 13px;
    align-items: center;

    &.long {
      @media (max-width: 425px) {
        flex-direction: column;
        .modal__btn {
          width: 100%;
        }
      }
    }
  }

  &__btn {
    @include flex-center;
    padding: 12px 22px;
    background-color: #165616;
    color: $white;
    border-radius: 7px;
    border: 2px solid transparent;
    transition: background-color .4s, border .4s, color .4s;
    @include r($phone) {
      padding: 14px 20px;
    }
    @media (max-width: 400px) {
      padding: 14px 23px;
      font-size: 15px;
    }

    &:hover {
      background-color: #1b831b;
    }

    &:focus {
      background-color: transparent;
      border-color: #1fa21f;
      color: $white;
    }

    &.close {
      background-color: transparent;
      border-color: darkred;
      color: rgba($white, .8);

      &:hover {
        background-color: darkred;
        color: $white;
        border-color: transparent;
      }

      &:focus {
        background-color: #b20000;
        border-color: transparent;
        color: $white;
      }
    }
  }
}