.authorization {
  padding: 50px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  @include r($sm) {
    padding: 40px 0 20px;
  }
  @include r($phone) {
    padding-top: 30px;
  }

  &__link {
    display: flex;
    max-width: max-content;
    padding: 4px 2px 2px 2px;
    margin-bottom: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border .4s;

    &:focus {
      border-color: $accent;
    }

    &.admin {
      margin: 20px 0;
      padding-bottom: 4px;
    }

    img {
      @include r($phone) {
        height: auto;
        width: 220px;
      }
    }
  }

  &__link {
    display: flex;
    width: auto;
    padding: 4px;
  }

  &__title {
    font-weight: 400;
    margin-bottom: 35px;
    font-size: 32px;
    color: $white;
    @include r($lg) {
      font-size: 30px;
      margin-bottom: 25px;
    }
    @include r($tablet) {
      font-size: 28px;
    }
    @include r($sm) {
      font-size: 26px;
    }
  }

  &__form {
    width: 100%;
  }

  &__items {
    @include flex-column(35);
    margin-top: 15px;
    margin-bottom: 30px;
    @include r($sm) {
      margin-bottom: 20px;
    }
  }

  &__item {
    @include flex-column(5);
  }

  &__btn {
    margin-top: 25px;
    margin-right: auto;
    display: flex;
    font-weight: 400;
    max-width: max-content;
    font-size: 18px;
    padding: 12px 50px;
    background-color: rgba($accent, .7);
    color: $white;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: background-color .4s, color .4s, border .4s, box-shadow .5s;
    position: relative;
    @include r($lg) {
      font-size: 16px;
      padding: 12px 43px;
    }
    @include r($phone) {
      font-size: 14px;
      padding: 13px 37px;
    }

    &:hover {
      background-color: transparent;
      border-color: $white;
      color: $white;
    }

    &:focus {
      background-color: $white;
      color: $black;
    }
  }
}