<header class="header static">
  <div class="container">
    <div class="header__inner">
      <nav class="header__nav" style="margin-left: 0">
        <ul class="header__list">
          <li>
            <a class="header__link" href="../">Управление подразделами</a>
          </li>
          <li>
            <a class="header__link" href="../products/">Управление товарами</a>
          </li>
          <li>
            <a class="header__link" href="">Управление заказами</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>